<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.noshy.mapper.RankMapper">
    <resultMap id="BaseResultMap" type="xin.stxkfzx.noshy.domain.Rank">
        <id column="rank_id" jdbcType="INTEGER" property="rankId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="likes" jdbcType="INTEGER" property="likes"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_edit_time" jdbcType="TIMESTAMP" property="lastEditTime"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="challenge_id" jdbcType="INTEGER" property="challengeId"/>
        <result column="video_id" property="videoId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    rank_id, type, status, likes, create_time, last_edit_time, user_id, challenge_id,
video_id
</sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rank
        where rank_id = #{rankId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="rank_id" keyProperty="rankId" parameterType="xin.stxkfzx.noshy.domain.Rank"
            useGeneratedKeys="true">
        INSERT INTO rank (
            rank_id
        ) VALUES (
            #{rankId,jdbcType=INTEGER}
        )
</insert>
    <insert id="insertSelective" keyColumn="rank_id" keyProperty="rankId" parameterType="xin.stxkfzx.noshy.domain.Rank"
            useGeneratedKeys="true">
        INSERT INTO rank
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rankId!=null">rank_id</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rankId!=null">#{rankId,jdbcType=INTEGER}</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.noshy.domain.Rank">
        UPDATE rank
        <set>
            <if test="rankId != null">rank_id = #{rankId,jdbcType=INTEGER}</if>
        </set>
        where rank_id = #{rankId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.noshy.domain.Rank">
        UPDATE rank
        set
                rank_id = #{rankId,jdbcType=INTEGER}
		where rank_id = #{rankId,jdbcType=INTEGER}
  </update>

    <!--auto generated by codehelper on 2018-09-18-->
    <select id="findByChallengeIdAndType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rank
        where challenge_id=#{challengeId,jdbcType=INTEGER} and type=#{type,jdbcType=INTEGER}
        order by likes desc
    </select>

    <!--auto generated by codehelper on 2018-09-19-->
    <select id="countByChallengeId" resultType="java.lang.Integer">
        select count(*)
        from rank
        where challenge_id = #{challengeId,jdbcType=INTEGER}</select>

    <!--auto generated by codehelper on 2018-10-05-->
    <select id="findByChallengeIdAndTypeAndStatusOrderByLikesDesc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rank
        where challenge_id=#{challengeId,jdbcType=INTEGER} and type=#{type,jdbcType=INTEGER} and
        status=#{status,jdbcType=INTEGER} order by likes desc
    </select>

    <!--auto generated by codehelper on 2018-10-06-->
    <update id="updateStatusByVideoId">
	update rank
	set status=#{updatedStatus,jdbcType=INTEGER}
	where video_id=#{videoId,jdbcType=VARCHAR}</update>
</mapper>