<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xin.stxkfzx.noshy.mapper.UserInformationMapper">
  <resultMap id="BaseResultMap" type="xin.stxkfzx.noshy.domain.UserInformation">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="head_portrait_addr" jdbcType="VARCHAR" property="headPortraitAddr" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="experience" jdbcType="INTEGER" property="experience" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, head_portrait_addr, rank, experience, introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_information
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_information
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xin.stxkfzx.noshy.domain.UserInformation">
    insert into user_information (user_id, head_portrait_addr, rank, 
      experience, introduction)
    values (#{userId,jdbcType=INTEGER}, #{headPortraitAddr,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, 
      #{experience,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xin.stxkfzx.noshy.domain.UserInformation">
    insert into user_information
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="headPortraitAddr != null">
        head_portrait_addr,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="experience != null">
        experience,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="headPortraitAddr != null">
        #{headPortraitAddr,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        #{experience,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xin.stxkfzx.noshy.domain.UserInformation">
    update user_information
    <set>
      <if test="headPortraitAddr != null">
        head_portrait_addr = #{headPortraitAddr,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="experience != null">
        experience = #{experience,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xin.stxkfzx.noshy.domain.UserInformation">
    update user_information
    set head_portrait_addr = #{headPortraitAddr,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=INTEGER},
      experience = #{experience,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
<!--auto generated by codehelper on 2018-09-11-->
	<select id="findOneHeadPortraitAddrByUserId" resultType="java.lang.String">
    select head_portrait_addr
    from user_information
    where user_id = #{userId,jdbcType=INTEGER}</select>
</mapper>